<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/adminAssets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Yönetim Paneli
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="/Default/Index/">
                                <span class="link-collapse">Restaurant Ana Sayfası</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Register/Index/">
                                <span class="link-collapse">Yeni Kullanıcı Kaydı</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Settings/Index/">
                                <span class="link-collapse">Şifre Güncelle</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Settings/Index/">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Notification/Index/">
                    <i class="la la-bell-o"></i>
                    <p>Bildirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Menu/Index/">
                    <i class="la la-book"></i>
                    <p>Menüyü Gör</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Category/Index/">
                    <i class="la la-table"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Index/">
                    <i class="la la-birthday-cake"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Booking/Index/">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/About/Index/">
                    <i class="la la-info"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Discount/Index/">
                    <i class="la la-angle-double-down"></i>
                    <p>İndirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/Index/">
                    <i class="la la-mobile-phone"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Slider/Index/">
                    <i class="la la-compass"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/Index/">
                    <i class="la la-thumbs-up"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/Index/">
                    <i class="la la-instagram"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index/">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ProgressBar/Index/">
                    <i class="la la-line-chart"></i>
                    <p>Anlık Durum</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/MenuTable/Index/">
                    <i class="la la-minus-square"></i>
                    <p>Masalar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/MenuTable/TableListByStatus/">
                    <i class="la la-minus-square"></i>
                    <p>Masa Durumları</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Index/">
                    <i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
                    <p>Mesajlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Mail/Index/">
                    <i class="la la-mail-forward"></i>
                    <p>Mail İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Settings/Index/">
                    <i class="la la-keyboard-o"></i>
                    <p>Ayarlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/QrCode/Index/">
                    <i class="la la-qrcode"></i>
                    <p>QR İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Login/LogOut/">
                    <i class="la la-sign-out"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Login/LogOut/">
                    <i class="la la-sign-out"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>
