@model WebUI.Dtos.SliderDtos.UpdateSliderDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıakrılanlar İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkarılanı Düzenle</div>
                        </div>
                        <input type="hidden" asp-for="SliderID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="featureTitle1">Başlık 1 Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Title1" id="featureTitle1">
                                <span asp-validation-for="Title1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="featureTitle2">Başlık 2 Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Title2" id="featureTitle2">
                                <span asp-validation-for="Title2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="featureTitle3">Başlık 3 Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Title3" id="featureTitle3">
                                <span asp-validation-for="Title3" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="featureDescription1">Açıklama 1 Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Description1" id="featureDescription1">
                                <span asp-validation-for="Description1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="featureDescription2">Açıklama 2 Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Description2" id="featureDescription2">
                                <span asp-validation-for="Description2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="featureDescription3">Açıklama 3 Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Description3" id="featureDescription3">
                                <span asp-validation-for="Description3" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Öne Çıkarılan Alanı Düzenle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

