@model WebUI.Dtos.MailDtos.CreateMailDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mail İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Mail Gönderme İşlemleri</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryName">Alıcı Mail Adresi :</label>
                                <input type="email" class="form-control" asp-for="ReceiverMail" id="rmail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryName">Konu :</label>
                                <input type="text" class="form-control" asp-for="Subject" id="subject">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryName">Mesajınız :</label>
                                <textarea rows="5" class="form-control" asp-for="Body" id="body"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Maili Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


