@model WebUI.Dtos.AboutDtos.UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımda Alanını Güncelleme</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="AboutID" />
                            <div class="form-group">
                                <label for="title">Hakkımda Alanının Başlığını Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Title" id="title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="description">Hakkımda Alanının Açıklamasını Giriniz :</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Hakkımda Kısmını Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

